#pokemonGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 16px;
    padding: 16px;
}

.pokemonCard {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    width: 120px;
}

.pokemonCardImage {
    width: 100%;
    object-fit: contain;
    background-color: #e8f4e8;
}

.pokemonName {
    text-align: center;
    padding: 15px 0;
    background-color: white;
    font-size: 18px;
    margin: 0;
}

#gymCardContainer {
    display: flex;
    justify-content: space-evenly;
}

.gymCards {
    border-radius: 12px;
    cursor: pointer;
    width: 200px;
}

.gymImages {
    width: 100%;
    object-fit: cover;
}

.gymNames {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 0px;
}































#pokemon-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#pokemon-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-color: #f5f4ed;
}

#header-contents-left,
#header-contents-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-contents-left {
    margin-left: 20px;
    gap: 20px;
}

#header-contents-right {
    margin-right: 20px;
}

#pokemon-image {
    background-image: url(../crossmedia/public/images/johannestompa\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#pokemon-name-and-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#pokemon-name {
    margin: 0;
}

#labels-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.label {
    border-radius: 25px;
    padding: 5px;
}

#generation-label {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.trainer-label {
    background-color: #ffe5cc;
    color: #f28212;
}